
#idBigDiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: auto;
    align-content: center;
}
.food{
    width: 300px;
    border: 1px solid gold;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gold;
    text-align: center;
}
.food img{
    width: 100%;
    padding:2px;
    /* overflow: hidden; */
}
#notFound{
    border: 2px solid gold;
    border-radius: 10px;
    background-color: honeydew;
    height: 300px;
    width: 70%;
    color: brown;
    font-size: 15px;
    box-shadow: 1px 1px 10px gold;
    text-align: center;
    margin-left: 200px;
    margin-top: 100px;
    display: none;
}
#notFound span{
    color: gold;
}
#foodShow{
    margin: 0px 340px;
    color:tomato;
    
}